@import url(https://fonts.googleapis.com/css?family=Montserrat);

html,
header {
    max-width: 1500px;
}

header {
    display: flex;
    justify-content: space-evenly;
    background-image: linear-gradient(rgb(47, 50, 50), rgb(47, 140, 140));
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    align-items: center;
}

/*fixes the overlapping of the navbar when i click the links*/
html {
    scroll-padding-top: 130px;
}

/*moving title. this is not mine i got it from internet*/
svg {
    height: 80px;
    font: 350% 'Montserrat';
    letter-spacing: 3px;
    min-width: 800px;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 2px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1) {
    stroke: rgb(217, 255, 0);
    animation-delay: -1;
}

.text-copy:nth-child(2) {
    stroke: #0dcec4;
    animation-delay: -2s;
}

.text-copy:nth-child(3) {
    stroke: rgb(217, 255, 0);
    animation-delay: -3s;
}

.text-copy:nth-child(4) {
    stroke: white;
    animation-delay: -4s;
}

.text-copy:nth-child(5) {
    stroke: rgb(10, 130, 160);
    animation-delay: -5s;
}

.text-copy:nth-child(5) {
    stroke: #0dcec4;
    animation-delay: -6s;
}

@keyframes stroke-offset {
    100% {
        stroke-dashoffset: -35%;
    }
}

/*H1*/
h1 {
    font-size: 200%;
    font-family: Arial;
}

/*main position lower so it doesn´t overlap with the heading*/
main {
    position: relative;
    top: 80px;
}

p {
    line-height: 150%;
}

/*subtitle container backround*/
.subtitle {
    width: 100%;
    background-image: url(../images/foto.jpg);
    height: 130px;
}

/*subtitle styles and position*/
.subtitle h2 {
    font-size: 150%;
    color: rgb(6, 84, 104);
    font-weight: bold;
    position: absolute;
    background-color: #0dcec4;
    padding: 7px;
    top: 80px;
    right: 30px;
}

.navContainer {
    background-image: linear-gradient(rgb(47, 140, 140), rgb(47, 170, 170));
    padding: 5px;
    position: sticky;
    top: 80px;
    z-index: 1;
}

.navContainer nav {
    max-width: 900;
    margin: 0 auto;
    padding: 0 7px;
}

/*nav layout*/
nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 500px;
    list-style-type: none;
}

/*a decoration*/
nav a {
    display: inline-block;
    color: rgb(217, 255, 0);
    font-family: 'Bungee Hairline', cursive;
    font-weight: bold;
    font-size: 1.6em;
    text-decoration: none;
}

.resumen {
    color: white;
}

nav a:hover {
    color: white;
}

/*conteiners for the main information*/
.secciones {
    display: flex;
    margin-top: 20px;
}

/*h2 styling for every section*/
.tituloC h2 {
    color: darkslategray;
    font-family: Arial, Helvetica, sans-serif;
}

/*container for h2*/
.tituloC {
    font-size: 225%;
    width: 35%;
    padding-right: 10px;
    margin-top: 10px;
    text-align: right;
}

/*container for the information*/
.contenido {
    flex: 0 0 80%;
    border-left-style: solid;
    border-color: darkslategray;
    padding: 1% 3% 2% 3%;
}

p {
    text-align: center;
}

#aboutMe img {
    display: block;
    margin: 0 auto 10px;
    border-radius: 50%;
    width: 30%;
}

/*ul containing images of my projects*/
.imagenes {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
}

/*big image*/
.imagenGrande {
    width: 100%;
}

img {
    border-radius: 5px 5px 0 0;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(6, 84, 104);
    border-radius: 11px;
    ;
}

/*carousel styles*/
.carouselContainer {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
}

/* forward & Back buttons */
.Back,
.forward {
    cursor: pointer;
    position: absolute;
    top: 48%;
    width: auto;
    margin-top: -20px;
    padding: 17px;
    color: rgb(217, 255, 0);
    font-weight: bold;
    font-size: 19px;
    transition: 0.4s ease;
    user-select: none;
}

/* Place the "forward button" to the right */
.Back {
    left: 0;
    border-radius: 0 4px 4px 0;
}

/* Place the "forward button" to the right */
.forward {
    right: 0;
    border-radius: 4px 0 0 4px;
}

/*when the user hovers,add a black background with some little opacity */
.Back:hover,
.forward:hover {
    background-color: rgb(6, 84, 104);
}

/* Caption Info */
.Info {
    position: absolute;
    background-color: rgb(6, 84, 104);
    border-radius: 5px 5px 0 0;
    color: #e3e3e3;
    font-size: 16px;
    padding: 10px 20px;
    position: absolute;
    bottom: 10px;
    width: fit-content;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

/* Worknumbering (1/3 etc) */
.MessageInfo {
    background-color: rgba(0, 0, 0, 0.281);
    border-radius: 9px 5px 5px 5px;
    color: #f2f2f3;
    font-size: 14px;
    padding: 10px 14px;
    position: absolute;
    top: 0;
}

.Containers {
    display: none;
}

.imagenesChicas {
    width: 100%;
}

/*small images*/
.frontContainers,
.backContainers {
    display: none;
    position: relative;
    margin-top: 10px;
    width: 49%;
}

.imagenes img {
    width: 100%;
    border-radius: 10px;
}



/*ul with links to diferent pages*/
.links {
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 100%;
}

.links li {
    padding: 3% 0;
}

/*a decoration*/
.links a {
    text-decoration: none;
    color: darkslategray;
    border-style: solid;
    border-color: darkslategray;
    padding: 7px 10px;
}

.links a:hover {
    color: rgb(217, 255, 0);
    border-color: rgb(217, 255, 0);
}

@media screen and (max-width: 850px) {

    .secciones {
        display: inline-block;
        width: 100%;
    }

    .tituloC {
        font-size: 225%;
        width: 100%;
        padding-right: 0;
        margin-top: 10px;
        text-align: center;
        padding-bottom: 20px;
    }

    .tituloC h2 {
        display: block;
        width: 95%;
        margin: auto;
        padding: 5px 0;
        border-bottom-style: solid;
    }

    nav {
        font-size: 1em;
    }

    main br {
        display: none;
    }

    .contenido {
        border-style: none;
    }

    .links {
        margin-left: auto;
        margin-right: auto;
    }

    .links li {
        padding: 20px;
    }

    .links a {
        text-decoration: none;
        color: darkslategray;
        border-style: solid;
        border-color: darkslategray;
        padding: 7px 10px;
        font-size: .7em;
    }

    .Info {
        font-size: smaller;
    }
}

@media screen and (max-width: 650px) {

    html {
        scroll-padding-top: 110px;
    }

    .subtitle {
        height: 130px;
    }

    .subtitle h2 {
        top: 70px;
        right: 30px;
    }

    body {
        font-size: .8em;
    }

    .divLinks {
        align-items: center;
    }

    .links {
        display: inline-block;
        text-align: center;
    }

    .links li {
        padding: 10px 0;
    }

}

@media screen and (max-width: 550px) {

    .secciones {
        display: block;
        text-align: center;
    }

    .navContainer {
        display: none;
    }

    .Back,
    .forward {
        margin-top: -6px;
        padding: 8px;
        font-size: smaller;
    }
}

@media screen and (max-width: 470px) {
    header {
        justify-content: center;
    }

    svg {
        font-size: 2.5em;
    }

    .Info {
        font-size: x-small;
        padding: 5px;
    }
}